<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>选择收货地址</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>

    <script type="text/javascript" src="../static/scripts/lib/jquery.1.10.2.js"
            th:src="@{/scripts/lib/jquery.1.10.2.js}"></script>
    <script type="text/javascript" src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <script type="text/javascript" src="../static/scripts/address.js" th:src="@{/scripts/address.js}"></script>

</head>
<body>
<div class="content-index">
    <!--标题-->
    <header>
        选择收货地址
        <!--操作按钮-->
        <div class="header-box">
            <a href="personal.html" th:href="@{/user}">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->

    <!-- 收货地址 动态内容-->
    <div th:each="address:${addressList}">
        <div class="box add">
            <div class="box ">
                <div class="box-left">
                    <img src="../static/images/pay-1.png" th:src="@{/images/pay-1.png}" alt=""/>
                </div>

                <div class="box-right">
                    <div class="box-right-top">
                        <dl>
                            <dd th:text="${address.recipients}">张淑敏</dd>
                            <dt th:text="'电话:'+${address.tel}">电话:15994203504</dt>
                        </dl>
                    </div>
                    <div class="box-right-bottom">
                        <p th:text="${address.area.mergerName}">广东省&nbsp;&nbsp;深圳&nbsp;&nbsp;宝安区</p>
                        <p th:text="${address.location}">桃源居商务大厦B座</p>
                    </div>
                </div>

                <a th:href="@{/user/address/getAddress(addressId=${address.id})}">
                    <button class="add-jump-arrow"></button>
                </a>
                <div class="clear"></div>
                <div class="addressId" style="display: none" th:text="${address.id}"></div>
                <p class="default-add">
                    <input name="defaultAddress" type="radio" th:checked="${address.state}"/>
                    <span>设为默认地址</span>
                    <i class="icon-trash"></i>
                    <a th:href="@{/user/address/deleteAddress(addressId=${address.id})}">
                        <button>删除</button>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- 收货地址 END-->

    <!-- 新增收货地址按钮 -->
    <div class="warning"></div>
    <div style="height: 4.5rem; margin: 0 auto;padding-top:.5rem;width:32rem;background: #fff" class="pay-fixed">
        <a href="new_address.html"  th:href="@{/user/new_address}" class="button-bottom ">
            <input class="submit " type="submit" value="新增收货地址"/>
        </a>
    </div>
    <div class="warning"></div>
    <!-- 新增收货地址按钮END -->
</div>
</body>
</html>