<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>编辑收货地址</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-switch.css" th:href="@{/css/bootstrap-switch.css}"/>

    <script type="text/javascript" src="../static/scripts/lib/jquery.1.10.2.js"  th:src="@{/scripts/lib/jquery.1.10.2.js}"></script>
    <script type="text/javascript" src="../static/scripts/lib/bootstrap/bootstrap.min.js" th:src="@{/scripts/lib/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <script type="text/javascript" src="../static/scripts/chadd.js" th:src="@{/scripts/chadd.js}"></script>

</head>

<body>
<div class="content-index">
    <!--标题-->
    <header>
        编辑收货地址
        <!--操作按钮-->
        <div class="header-box">
            <a href="address.html" th:href="@{/user/address/userAllAddress}">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->
    <!-- 编辑收货地址 -->
    <form id="frmAddress" >
        <div class="edit-add-box">
            <input name="recipients" type="text" placeholder="收件人：" th:value="${addressList.recipients}"/>
            <input name="tel" type="text" placeholder="手机号：" th:value="${addressList.tel}"/>
            <p class="address">所在地：</p>
            <label>
                <select>
                    <option th:value="${addressList.area.parentsArea.parentsArea.id}" th:text="${addressList.area.parentsArea.parentsArea.shortName}"></option>
                    <input id="provinceId" name="area.parentsArea.parentsArea.id" type="hidden" th:value="${addressList.area.parentsArea.parentsArea.id}"/>
                </select>
                <select>
                    <option th:value="${addressList.area.parentsArea.id}" th:text="${addressList.area.parentsArea.shortName}"></option>
                    <input id="cityId" name="area.parentsArea.id" type="hidden" th:value="${addressList.area.parentsArea.id}"/>
                </select>
                <select>
                    <option th:value="${addressList.area.id}" th:text="${addressList.area.shortName}"></option>
                    <input id="areaId" name="area.id" type="hidden" th:value="${addressList.area.id}"/>
                </select>
            </label>

            <input name="id" th:value="${addressList.id}" style="display: none"/>
            <input name="user.id" th:value="${addressList.user.id}" style="display: none"/>
            <input name="location" type="text" class="write" placeholder="详细地址：" th:value="${addressList.location}"/>
            <input name="state" type="hidden" th:value="${addressList.state}"/>
        </div>
        <!-- 清楚浮动 -->
        <div class="clear"></div>

        <div class="edit-add-input">
            <!-- 保存按钮 -->
            <label>
                <input class="default" type="button" value="保存并使用"/>
            </label>
            <!-- 保存按钮END -->
        </div>
    </form>
    <!-- 编辑收货地址END -->
    <div class="tip" id="textShow" style="display: none"></div>

</div>
</body>
</html>
