<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>开发中...</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>
</head>
<body>
<div class="content-index">
    <!--标题-->
    <!--标题-->
    <header>
        开发中
        <!--操作按钮-->
        <div class="header-box">
            <a th:href="@{/}" href="index.html">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->
    <!--标题 END-->
    <div class="publish-success-box">
        <p>此页面正在开发中...</p>
        <p>敬请期待哟～</p>
        <!--<a href="" class="share-bottom">-->
        <!--<button>去逛逛</button>-->
        <!--</a>-->
    </div>
    <!--底部导航-->
    <div th:include="footer::foot(state=2)"></div>
    <!--底部导航 END-->
</div>
</body>
</html>