<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>修改宝宝信息</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>

    <script type="text/javascript" src="../static/scripts/lib/jquery.1.10.2.js"
            th:src="@{/scripts/lib/jquery.1.10.2.js}"></script>
    <script type="text/javascript" src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <script  type="text/javascript" src="../static/scripts/babyinfo.js" th:src="@{/scripts/babyinfo.js}"></script>

</head>
<body>
<div class="content-index">
    <!--标题-->
    <header>
        添加宝宝信息
        <!--操作按钮-->
        <div class="header-box">
            <a href="personal.html" th:href="@{/user}">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->
    <!-- 编辑宝宝信息 -->
    <form action="changemsg.html" th:action="@{/user/baby/addBaby}" th:object="${babyVO}" class="person-msg"  method="post">
        <label for="babyData">生日：
            <input name="birthday" id="babyData" type="date" th:field="*{birthday}"/>
        </label>
        <label for="babyName">姓名：
            <input name="name" id="babyName" type="text" th:field="*{name}"/>
        </label>
        <label for="sex">性别：
            <select name="gender" id="sex" th:field="*{gender}">
                <option value="MEN">男</option>
                <option value="WOMEN">女</option>
                <option value="UNLIMITED">中性</option>
            </select>
        </label>
        <label for="babyHobby">爱好：
            <input name="hobby" id="babyHobby" type="text" th:value="*{hobby}"/>
        </label>

        <div class="person-button">
            <button type="button">添加</button>
        </div>

    </form>
    <!-- 编辑宝宝信息END -->
    <div class="tip" id="textShow" style="display: none"></div>
</div>
</body>
</html>