<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>个人中心</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>

    <script type="text/javascript" src="../static/scripts/lib/jquery.1.10.2.js"
            th:src="@{/scripts/lib/jquery.1.10.2.js}"></script>
    <script type="text/javascript" src="../static/scripts/common.js" th:src="@{/scripts/common.js}"></script>
    <script type="text/javascript" src="../static/scripts/personal.js" th:src="@{/scripts/personal.js}"></script>
</head>

<body>
<div class="content-index">
    <!--标题-->
    <header>
        个人中心
        <!--操作按钮-->
        <div class="header-box">
            <a href="index.html" th:href="@{/}">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->

    <!--宝宝图片上传-->
    <div class="baby-photo">
        <figure id="uploadForm">
            <input name="headerPic" type="file" accept="image/png,image/gif" style="display: none;" id="fileUpload"/>
            <img src="../static/upload/header/user/u6.JPG" th:src="@{'/upload/header/user/'+${userInfo.userPicture}}"
                 alt="头像" id="imgUpload"/>
        </figure>
        <figcaption>
            <p th:text="${userInfo.userName}"></p>
            <p class="line" th:text="'宝宝:'+${userInfo.babyName}"></p>
        </figcaption>
    </div>
    <!--宝宝图片上传-END-->
    <!--个人中心信息-->
    <div class="personal-center">
        <!--我是买家订单-->
        <div>
            <p class="order-bottom">我是<span class="red">买家</span></p>
            <ul>
                <li><a class="link" href="purchase_order.html" th:href="@{/order/search(state=3,page=0,pageSize=100)}">全部订单</a></li>
                <li><a href="unpaid_order.html" th:href="@{/order/search(state=0,page=0,pageSize=100)}">待付款</a></li>
                <li><a href="nopackaged_order.html" th:href="@{/order/search(state=1,page=0,pageSize=100)}">待发货</a></li>
                <li><a href="ckeck_order.html" th:href="@{/order/search(state=2,page=0,pageSize=100)}">待收货</a></li>
            </ul>
        </div>
        <!--我是买家订单END-->
        <!--我是买家订单-->
        <div>
            <p class="order-bottom">我是<span class="blue">卖家</span></p>
            <ul>
                <li><a class="link" href="consignment_order.html" th:href="@{/sell/search(goodsState=4,page=0,pageSize=100)}">我的商品</a></li>
                <li><a href="finish_order.html" th:href="@{/sell/search(goodsState=3,page=0,pageSize=100)}">已出售</a></li>
                <li><a href="published_order.html" th:href="@{/sell/search(goodsState=1,page=0,pageSize=100)}">已发布</a></li>
                <li><a href="unpublished_order.html" th:href="@{/sell/search(goodsState=2,page=0,pageSize=100)}">待上架</a></li>
            </ul>
        </div>
        <!--我是买家订单END-->
        <!--个人中心操作-->
        <div class="personal-center-control">
            <a href="message.html" th:href="@{/user/changePwd/sendMes}"><p>修改密码</p></a>
            <a href="address.html" th:href="@{/user/address/userAllAddress}"><p>收货地址</p></a>
            <a href="permsg.html" th:href="@{/user/baby/allBabyInfo}"><p>宝宝信息</p></a>
            <a href="bindphone.html" th:href="@{/user/bindphone}"><p>绑定手机</p></a>
        </div>
        <!--个人中心操作END-->
    </div>
    <!--个人中心信息END-->
    <!--注销按钮-->
    <a class="button-bottom" href="index.html" th:href="@{/logout}">
        <button class="submit" type="reset">注销</button>
    </a>
    <div class="blank"></div>
    <!--注销按钮END-->
    <!--底部导航-->
    <div th:include="footer::foot(state=5)"></div>
    <!--底部导航 END-->
</div>
</body>
</html>