<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>
</head>

<body>
<div class="content-index">
    <!--标题-->
    <header>
        发布成功
        <!--操作按钮-->
        <div class="header-box">
            <a href="index.html" th:href="@{/}">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->
    <!--发布成功提示-->
    <div class="publish-success-box">
        <p>恭喜您发布成功！</p>
        <p>感谢您支持低碳生活</p>
        <p>给了每一件宝物第二次生命</p>
        <p>您可以在个人账户中查询详情及交易进度</p>
        <!--<a href="index.html" class="share-bottom">-->
            <!--<button>分享到朋友圈</button>-->
        <!--</a>-->
        <!--发布成功提示END-->
    </div>
</div>
</body>
</html>