<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>全部订单</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>
</head>

<body>
<div class="content-index">
    <!--标题-->
    <header>
        所有订单
        <!--操作按钮-->
        <div class="header-box">
            <a href="personal.html" th:href="@{/user}">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->
    <!-- 我是买家——购买订单 -->
    <!-- 我是买家——购买订单 -->
    <div class="order">
        <div th:each="order:${orderList}">
            <!-- 我是买家——购买订单 -->
            <div class="order">
                <!-- 购买订单 -->
                <div th:each="goods,state:${order.goodsVOList}">
                    <div class="order-box">
                        <div th:if="${state.first}">
                            <p class="unpaid-txt" th:text="${order.state}">已发货</p>
                        </div>
                        <img src="../static/images/u8.jpg" th:src="@{'/upload/'+${goods.picture}}" alt="宝物"/>
                        <div class="order-box-right">
                            <p th:text="${goods.brandName} + '   ' +${goods.title}">H-M CARDIGAN</p>
                            <p th:text="'尺寸：'+${goods.size}">尺寸：S</p>
                            <!--<p class="order-box-left" th:text="'￥'+${goods.price}+' '">￥50.5&nbsp;&nbsp;</p>-->
                            <!--<span th:text="'×'+${goods.quantity}">×2</span>-->
                            <p class="order-box-left">
                            <div th:text="'￥'+${goods.price}+' '">￥50.5&nbsp;&nbsp;</div>
                            <span th:text="'×'+${goods.quantity}">×2</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div th:if="${order.flag eq 0}">
                    <div class="order-button">
                        <!--<button type="submit" value="确认收货">取消订单</button>-->
                        <a href="pay_order.html" th:href="@{/payOrder(orderId=${order.id})}">
                            <button type="submit" value="付款">付款</button>
                        </a>
                    </div>
                </div>
                <!-- 按钮 -->
                <div th:if="${order.flag eq 1}">
                    <div class="order-button">
                        <!--<button type="submit" value="取消订单">取消订单</button>-->
                        <a href="ckeck_order.html" th:href="@{'/order/expressSuccess/'+${order.id}+'/103'}">
                        <button type="submit" value="提醒发货">提醒发货</button>
                        </a>
                    </div>
                </div>
                <!-- 按钮 -->
                <div th:if="${order.flag eq 2}">
                    <div class="order-button">
                        <a href="transport.html" th:href="@{'/order/searchExpress/'+${order.id}}">
                            <button type="submit" value="查看物流">查看物流</button>
                        </a>
                        <a href="purchase_order.html" th:href="@{'/order/confirmExpress/'+${order.id}}">
                        <button type="submit" value="确认收货">确认收货</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--&lt;!&ndash; 购买订单 &ndash;&gt;-->
        <!--<div class="order-box" onclick=window.location.href="detail.html">-->
        <!--<p class="unpaid-txt">等待买家付款</p>-->
        <!--<img src="../static/images/u8.jpg" alt="宝物">-->
        <!--<div class="order-box-right">-->
        <!--<p>H&M CARDIGAN</p>-->
        <!--<p>尺寸：S</p>-->
        <!--<p class="order-box-left">￥35.5&nbsp&nbsp<span>×1</span></p>-->

        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 购买订单END &ndash;&gt;-->
        <!--&lt;!&ndash; 购买订单 &ndash;&gt;-->
        <!--<div class="order-box" onclick=window.location.href="detail.html">-->

        <!--<img src="../static/images/u20.jpg" alt="宝物">-->
        <!--<div class="order-box-right">-->
        <!--<p>H&M CARDIGAN</p>-->
        <!--<p>尺寸：S</p>-->
        <!--<p class="order-box-left">￥35.5&nbsp&nbsp<span>×1</span></p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 购买订单END &ndash;&gt;-->
        <!--&lt;!&ndash; 共计 &ndash;&gt;-->
        <!--<div class="order-bottom">-->
        <!--<p>共计2件商品 小计：<span>￥101</span> (含运费￥10)</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; 共计END &ndash;&gt;-->
        <!--&lt;!&ndash; 按钮 &ndash;&gt;-->
        <!--<div class="order-button">-->
        <!--<button type="submit" value="确认收货">取消订单</button>-->
        <!--<button type="submit" value="确认收货">付款</button>-->
        <!--</div>-->

        <!--&lt;!&ndash; 按钮END &ndash;&gt;-->
        <!--</div>-->

        <!-- 我是买家——购买订单 -->
        <!--<div class="order">-->
        <!--&lt;!&ndash; 购买订单 &ndash;&gt;-->
        <!--<div class="order-box" onclick=window.location.href="detail.html">-->
        <!--<p class="unpaid-txt">买家已付款</p>-->
        <!--<img src="../static/images/u8.jpg" alt="宝物">-->
        <!--<div class="order-box-right">-->
        <!--<p>H&M CARDIGAN</p>-->
        <!--<p>尺寸：S</p>-->
        <!--<p class="order-box-left">￥35.5&nbsp&nbsp<span>×1</span></p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 购买订单END &ndash;&gt;-->
        <!--&lt;!&ndash; 购买订单 &ndash;&gt;-->
        <!--<div class="order-box" onclick=window.location.href="detail.html">-->

        <!--<img src="../static/images/u20.jpg" alt="宝物">-->
        <!--<div class="order-box-right">-->
        <!--<p>H&M CARDIGAN</p>-->
        <!--<p>尺寸：S</p>-->
        <!--<p class="order-box-left">￥35.5&nbsp&nbsp<span>×1</span></p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 购买订单END &ndash;&gt;-->
        <!--&lt;!&ndash; 共计 &ndash;&gt;-->
        <!--<div class="order-bottom">-->
        <!--<p>共计2件商品 小计：<span>￥101</span> (含运费￥10)</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; 共计END &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; 我是买家-购买订单END &ndash;&gt;-->

        <!--<div class="order add">-->
        <!--&lt;!&ndash; 待收货商品 &ndash;&gt;-->
        <!--<div class="order-box" onclick=window.location.href="detail.html">-->
        <!--<p class="unpaid-txt">卖家已发货</p>-->
        <!--<img src="../static/images/u8.jpg" alt="宝物">-->
        <!--<div class="order-box-right">-->
        <!--<p>H&M CARDIGAN</p>-->
        <!--<p>尺寸：S</p>-->
        <!--<p class="order-box-left">￥35.5&nbsp&nbsp<span>×1</span></p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 待收货商品END &ndash;&gt;-->
        <!--&lt;!&ndash; 待收货商品 &ndash;&gt;-->
        <!--<div class="order-box" onclick=window.location.href="detail.html">-->

        <!--<img src="../static/images/u8.jpg" alt="宝物">-->
        <!--<div class="order-box-right">-->
        <!--<p>H&M CARDIGAN</p>-->
        <!--<p>尺寸：S</p>-->
        <!--<p class="order-box-left">￥35.5&nbsp&nbsp<span>×1</span></p>-->
        <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 待收货商品END &ndash;&gt;-->
        <!--&lt;!&ndash; 共计 &ndash;&gt;-->
        <!--<div class="order-bottom">-->
        <!--<p>共计2件商品 小计：<span>￥101</span> (含运费￥10)</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; 共计END &ndash;&gt;-->
        <!--&lt;!&ndash; 确认收货按钮 &ndash;&gt;-->
        <!--<div class="order-button">-->
        <!--<button type="submit" value="查看物流">查看物流</button>-->
        <!--<button type="submit" value="确认收货">确认收货</button>-->
        <!--</div>-->
        <!--&lt;!&ndash; 确认收货按钮END &ndash;&gt;-->

    </div>
</div>
</body>
</html>