<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我是买家</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>
    <link rel="stylesheet" href="../static/css/transport.css" th:href="@{/css/transport.css}"/>


</head>

<body>

<!--标题-->
<header>
    查看物流
    <!--操作按钮-->
    <div class="header-box">
        <a href="ckeck_order.html" th:href="@{/order/search(state=2,page=0,pageSize=100)}">
            <p class="header-left">
                <i class="icon icon-return"></i>
                返回
            </p>
            <!--点击编辑出现删除商品按钮-->
        </a>

    </div>
    <!--操作按钮 END-->
</header>
<!--标题 END-->

<div data-mohe-type="kuaidi_new" class="g-mohe content-index" id="mohe-kuaidi_new">
    <div th:if="${expressVO ne null}">
        <div class="transport-box">
            <p>物流公司: <span th:text="${expressVO.company}">百世汇通</span></p>
            <p>运单号: <span th:text="${expressVO.portNum}">1252035213</span></p>
        </div>
        <div id="mohe-kuaidi_new_nucom">
            <div class="mohe-wrap mh-wrap">
                <div class="mh-cont mh-list-wrap mh-unfold">
                    <div class="mh-list">
                        <ul>
                            <div th:each="contentVO,state:${expressVO.contentList}">
                                <li th:classappend="${state.first?'first':''}">
                                    <p th:text="${contentVO.time}">2015-04-28 11:23:28</p>
                                    <p th:text="${contentVO.context}">妥投投递并签收，签收人：他人收 他人收</p>
                                    <span class="before"></span><span class="after"></span>
                                    <i th:classappend="${state.first?'mh-icon mh-icon-new':''}"></i>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${expressVO eq null}">
        暂无物流信息
    </div>
</div>

</body>
</html>