<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>我是买家</title>
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,width=device-width,initial-scale=1.0"/>
    <!-- 禁止将数字变为电话号码 -->
    <meta name="format-detection" content="telephone=no"/>
    <!-- iphone设备中的safari私有meta标签,允许全屏模式浏览，隐藏浏览器导航栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- iphone的私有标签,它指定的iphone中safari顶端的状态条的样式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}"/>
    <link rel="stylesheet" href="../static/css/module.css" th:href="@{/css/module.css}"/>
</head>

<body>
<div class="content-index">
    <!--标题-->
    <header>
        待付款
        <!--操作按钮-->
        <div class="header-box">
            <a href="personal.html" th:href="@{/user}">
                <p class="header-left">
                    <i class="icon icon-return"></i>
                    返回
                </p>
            </a>
        </div>
        <!--操作按钮 END-->
    </header>
    <!--标题 END-->
    <div th:each="order:${orderList}">
        <!-- 我是买家——购买订单 -->
        <div class="order">
            <!-- 购买订单 -->
            <div th:each="goods,state:${order.goodsVOList}">
                <div class="order-box">
                    <div th:if="${state.first}">
                        <p class="unpaid-txt" th:text="${order.state}">已发货</p>
                    </div>
                    <img src="../static/images/u8.jpg" th:src="@{'/upload/'+${goods.picture}}" alt="宝物"/>
                    <div class="order-box-right">
                        <p th:text="${goods.brandName} + '   ' +${goods.title}">H-M CARDIGAN</p>
                        <p th:text="'尺寸：'+${goods.size}">尺寸：S</p>
                        <!--<p class="order-box-left" th:text="'￥'+${goods.price}+' '">￥50.5&nbsp;&nbsp;</p>-->
                        <!--<span th:text="'×'+${goods.quantity}">×2</span>-->
                        <p class="order-box-left">
                        <div th:text="'￥'+${goods.price}+' '">￥50.5&nbsp;&nbsp;</div>
                        <span th:text="'×'+${goods.quantity}">×2</span>
                        </p>

                    </div>
                </div>
            </div>
            <!-- 购买订单END -->
            <!-- 共计 -->
            <div class="order-bottom">
                <p th:text="'共计'+${order.quantity}+'件商品,小计：'">共计2件商品&nbsp;&nbsp;</p>
                <div th:text="'￥'+${order.totalSum}+' (含运费￥'+${order.freight}+')'">￥111&nbsp;(含运费￥10)</div>
            </div>
            <!-- 共计END -->
            <!-- 按钮 -->
            <div class="order-button">
                <!--<button type="submit" value="确认收货">取消订单</button>-->
                <a href="pay_order.html" th:href="@{/payOrder(orderId=${order.id})}">
                    <button type="submit" value="付款">付款</button>
                </a>
            </div>
            <!-- 按钮END -->
        </div>
    </div>
    <!-- 我是买家——购买订单 -->
    <!--<div class="order"> -->

    <!--&lt;!&ndash; 购买订单 &ndash;&gt;-->
    <!--<div class="order-box" onclick=window.location.href="detail.html">-->
    <!--<p class="unpaid-txt">等待买家付款</p>-->
    <!--<img src="../static/images/u8.jpg" alt="宝物">-->
    <!--<div class="order-box-right">-->
    <!--<p>H&M CARDIGAN</p>-->
    <!--<p>尺寸：S</p>-->
    <!--<p class="order-box-left">￥35.5</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; 购买订单END &ndash;&gt;-->
    <!--&lt;!&ndash; 购买订单 &ndash;&gt;-->
    <!--<div class="order-box" onclick=window.location.href="detail.html">-->
    <!--<p class="unpaid-txt">等待买家付款</p>-->
    <!--<img src="../static/images/u20.jpg" alt="宝物">-->
    <!--<div class="order-box-right">-->
    <!--<p>H&M CARDIGAN</p>-->
    <!--<p>尺寸：S</p>-->
    <!--<p class="order-box-left">￥35.5</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; 购买订单END &ndash;&gt;-->
    <!--&lt;!&ndash; 共计 &ndash;&gt;-->
    <!--<div class="order-bottom">-->
    <!--<p>共计2件商品 小计：<span>￥101</span> (含运费￥10)</p>-->
    <!--</div>-->
    <!--&lt;!&ndash; 共计END &ndash;&gt;-->
    <!--&lt;!&ndash; 按钮 &ndash;&gt;-->
    <!--<div class="order-button">-->
    <!--<button type="submit" value="确认收货">取消订单</button>-->
    <!--<button type="submit" value="确认收货">付款</button>-->
    <!--</div>-->

    <!--&lt;!&ndash; END &ndash;&gt;-->
    <!--</div>-->
    <!-- 我是买家-购买订单END -->
</div>

</body>
</html>