<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/layout">
<head >
    <title>目录管理</title>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="../../static/css/zTreeStyle.css" th:href="@{/css/zTreeStyle.css}" rel="stylesheet"/>
	<style>.divcss5{width:250px;height:300px;border:1px solid #000;background:#DDD;padding:1.5em} </style>
</head>

<body>
<th:block layout:fragment="content">
    <div id="page-content" class="content_wrap">
		<div class="panel-heading">
            <h2 class="panel-title">目录管理</h2>
        </div>
		<div class="panel">
			<div class="panel-body">
				<div class="zTreeDemoBackground left divcss5" style="float:left" >
					<ul id="fileTree" class="ztree"></ul>
				</div>
				
				<div class="tab-base" style="float:left;text-align: center;">
					<ul class="nav nav-tabs">
		                <li class="active" id="add">
		                    <a href="#addform" data-toggle="tab" aria-expanded="fasle">添加</a>
		                </li>
		                <li class="" id="edit">
		                    <a href="#editform" data-toggle="tab" aria-expanded="true">修改</a>
		                </li>
		                <li class="" id="delete">
		                    <a href="#deleteform" data-toggle="tab" aria-expanded="false">删除</a>
		                </li>
	            	</ul>
	            	
	            	<div class="tab-content">
	            	<div class="tab-pane fade active in" id="addform">
	            		<form class="form-horizontal bv-form">
						<label id="warning-1" class="control-label" style="color: red;">请选择父目录!</label>
						<div class="form-group">
							<label class="col-sm-4 control-label">父目录名称：</label>
							<div class="col-sm-8">
								<input  id="parentFileName" type="text" class="form-control" readonly="readonly"/>
							</div>
						</div>
						
						<label id="warning-2" class="control-label" style="color: red;">请选择子目录!</label>
						<div class="form-group">
							<label class="col-sm-4 control-label">子目录名称：</label>
							<div class="col-sm-8">
								<input id="currentFileName" type="text" class="form-control" readonly="readonly"/>
							</div>
						</div>
						
						<label id="warning-3" class="control-label" style="color: red;">请输入新目录名称!</label>
						<div class="form-group">
							<label class="col-sm-4 control-label">新目录名称：</label>
							<div class="col-sm-8">
								<input id="newFileName" type="text" class="form-control"/>
							</div>
						</div>
						<div style="text-align: center;" >
							<button id="addbtn" class="btn btn-info btn-rounded" type="button">添加</button>
							<button id="cancel1" class="btn btn-default btn-rounded" type="button">取消</button>
						</div>
					</form>
				</div>
				
				<div class="tab-pane fade" id="editform">
					<form class="form-horizontal bv-form">
						<label id="warning-1" class="control-label" style="color: red;"  hidden="true">请选择父目录!</label>
						<div class="form-group">
							<label class="col-sm-4 control-label">父目录名称：</label>
							<div class="col-sm-8">
								<input  id="parentFileName1" type="text" class="form-control" readonly="readonly"/>
							</div>
						</div>
						
						<label id="warning-2" class="control-label" style="color: red;"  hidden="true">请选择子目录</label>
						<div class="form-group">
							<label class="col-sm-4 control-label">子目录名称：</label>
							<div class="col-sm-8">
								<input id="currentFileName1" type="text" class="form-control"/>
							</div>
						</div>
						
						<div style="text-align: center;" >
							<button id="editbtn" class="btn btn-info btn-rounded" type="button">修改</button>
							<button id="cancel2" class="btn btn-default btn-rounded" type="button">取消</button>
						</div>
					</form>
				</div>
				
				<div class="tab-pane fade" id="deleteform">
					<form class="form-horizontal bv-form">
						<label id="warning-1" class="control-label" style="color: red;"  hidden="true">请选择父目录!</label>
						<div class="form-group">
							<label class="col-sm-4 control-label">父目录名称：</label>
							<div class="col-sm-8">
								<input  id="parentFileName2" type="text" class="form-control" readonly="readonly"/>
							</div>
						</div>
						
						<label id="warning-2" class="control-label" style="color: red;"  hidden="true">请选择子目录</label>
						<div class="form-group">
							<label class="col-sm-4 control-label">子目录名称：</label>
							<div class="col-sm-8">
								<input id="currentFileName2" type="text" class="form-control" readonly="readonly"/>
							</div>
						</div>
						
						<div style="text-align: center;" >
							<button id="deletebtn" class="btn btn-info btn-rounded" type="button">删除</button>
							<button id="cancel3" class="btn btn-default btn-rounded" type="button">取消</button>
						</div>
					</form>
	            	</div>
	            	</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<script src="../../static/js/jquery-2.1.1.min.js" th:src="@{/js/jquery-2.1.1.min.js}" type="text/javascript"></script>
    <script src="../../static/js/jquery.ztree.all.min.js" th:src="@{/js/jquery.ztree.all.min.js}" type="text/javascript"></script>
    <script src="../../static/js/jquery.ztree.core.js" th:src="@{/js/jquery.ztree.core.js}" type="text/javascript"></script>
    <script src="../../static/js/jquery.ztree.core.min.js" th:src="@{/js/jquery.ztree.core.min.js}" type="text/javascript"></script>
    <script src="../../static/js/scripts/catalog_mgr.js" th:src="@{/js/scripts/catalog_mgr.js}" type="text/javascript"></script>
</th:block>
</body>
<script src="../../static/js/common.js" type="text/javascript"></script>
</html>